@*

    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TeacherApp.Models.Person

@{
    ViewData["Title"] = "AdminLogin";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/AdminLogin.css">
</head>
<body id="LoginForm">
    <div class="container">
        <br />
        <br />
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Admin Login</h2>
                    <p>Please enter your email and password</p>
                </div>
                <form asp-area="" asp-controller="AdminPanel" asp-action="Dashboard">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="Email Address" />
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="Password"  type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="forgot">
                            <a href="~/Views/AdminPanel/Reset.cshtml">Forgot password?</a>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
</div>
        </div>
    </div>
</body>
</html>
