@{
    ViewData["Title"] = "About";
}
<header>
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>


</header>
<section>
    <aside>
        We like this webside a lot!
    </aside>
</section>
<p style="text-shadow: 5px #4286f4;">Use this area to provide additional information.</p>
<section>
    <canvas id="canvas" width="400" height="320" style="display: none;"></canvas>
    <canvas id="canvas2" width="570" height="570" style="border: 1px;"></canvas>
    <canvas id="canvas3" width="400" height="320" style="display: none;"></canvas>
</section>

<script src="~/js/canvasGraphic.js"></script>