@{
    ViewData["Title"] = "Contact Us";
}
<h2>We are here for you!</h2>

<html>
<head>


</head>

<body>
    <div class="row">
        <div class="col-md-6">
            <address>
                Elie Wiesel St 2 <br />
                Rishon LeTsiyon <br />
                Israel 7579806<br />
                <abbr title="Phone">P:</abbr>
                *5025
            </address>
            <address>
                <strong>Support:</strong> <a href="mailto:Support@example.com">Support@TeachApp.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@TeachApp.com</a>
            </address>
        </div>
        <div class="col-md-6">
            <iframe width="460"
                    height="280"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCBCrkA51mofGrZlNuCT-Y-bUfgGsXm3Sk
    &q=College+of+Management,Rishon+LeTsiyon" allowfullscreen></iframe>
        </div>
    </div>
    <script src="~/js/getCookie.js"></script>
</body>
</html>


