@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/tutors1.jpg" alt="classroom" class="img-responsive" />
            @*<div class="carousel-caption" role="option">
                    <p>
                        Join our revolution!<br />
                        We offer students, all over, a chance to help <br /> their fellow students and make money at the same time!
                    </p>
                </div>*@
        </div>
        <div class="item">
            <img src="~/images/walc-tutoring5.jpg" alt="classroom" class="img-responsive" />
            @*<div class="carousel-caption" role="option">
                    <p>
                        Join our revolution!<br />
                        We offer students, all over, a chance to help <br /> their fellow students and make money at the same time!
                    </p>
                </div>*@
        </div>
        <div class="item">
            <img src="~/images/lib.jpeg" alt="classroom" class="img-responsive" />
            @*<div class="carousel-caption" role="option">
                    <p>
                        join our revolution!<br />
                        we offer students, all over, a chance to help <br /> their fellow students and make money at the same time!
                    </p>
                </div>*@
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>Join our revolution!</h1>
        <h3>We offer students, all over, a chance to help their fellow students and make money at the same time!</h3>
        <ul>
            <li>
                Find a private teacher for the course you need, at the price you want.
            </li>
            <li>
                View teacher rating and reviews to find the best teacher for you!
            </li>
            <li>
                Register as a teacher and offer private lessons to students.
            </li>
        </ul>
    </div>
</div>