
@{
    ViewData["Title"] = "SearchBestOffer";
}
@model IEnumerable<TeacherApp.Models.Course>

<h2>SearchResults</h2>
<html>
<head>

</head>
<body>
    <table id="results" class="col-md-8">
        <tr>
            <th> Teacher Name</th>'
            <th> Lesson Price</th>'
        </tr>'
    </table>
</body>
</html>


