@model IEnumerable<TeacherApp.Models.Person>
@*@model TeacherApp.Models.Person*@

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "UserLogin";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/AdminLogin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        if (!window.jQuery) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/js/User/User.js"></script>
</head>
<body id="LoginForm">
    <div class="container">
        <br /> <br />
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>User Login</h2>
                    <p>Please enter your email and password</p>
                </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="forgot">
                        <a href="reset.html">Forgot password?</a>
                    </div>
                    <button type="submit" id="UserLogin" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</body>
</html>
