@{
    ViewData["Title"] = "UserDashboard";
}
<br />
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/js/User/User.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <link rel="stylesheet" type="text/css" href="~/css/adminDashboard.css">
    <link rel="stylesheet" type="text/css" href="~/css/userDashboard.css">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>

</head>
<body id="Dashboard">
    <a class="weatherwidget-io" 
       href="https://forecast7.com/en/32d0934d78/tel-aviv-yafo/" 
       data-label_1="TEL AVIV-YAFO" 
       data-label_2="WEATHER" 
       data-font="Open Sans" 
       data-icons="Climacons Animated" 
       data-mode="Forecast" data-days="5" data-textcolor="#f4f4f4">TEL AVIV-YAFO WEATHER</a>
    <script>
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://weatherwidget.io/js/widget.min.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }
            (document, 'script', 'weatherwidget-io-js');
    </script>
    <br />
    <div class="container-fluid main-container">
        <div class="col-md-2 sidebar">
            <div class="row">
                <div class="container">
                    <div class="row profile">
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- uncomment code for absolute positioning tweek see top comment in css -->
                <!-- Menu -->
                <div class="side-menu">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Main Menu -->
                        <div class="side-menu-container">
                            <div class="profile-sidebar">
                                <!-- SIDEBAR USERPIC -->
                                <div class="profile-userpic">
                                    <img src="https://brockportchamber.org/wp-content/uploads/2015/11/user.png" class="img-thumbnail" alt="profilepic">
                                </div>
                                <!-- END SIDEBAR USERPIC -->
                                <!-- SIDEBAR USER TITLE -->
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name">
                                        Marcus Doe
                                    </div>
                                    <div class="profile-usertitle-job">
                                        Developer
                                    </div>
                                </div>
                                <!-- END SIDEBAR USER TITLE -->

                            </div>
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#"><span class="fab fa-dashcube"></span> Dashboard</a></li>
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl1">
                                        <span class="fas fa-chalkboard-teacher"></span> Our Teachers <span class="caret"></span>
                                    </a>
                                    <!-- Dropdown level 1 -->
                                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a asp-area="" asp-controller="Teachers" asp-action="">All Teachers</a></li>
                                                <li><a href="#">Teachers by Institution</a></li>
                                                <li><a href="#">Teachers by Degree</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl2">
                                        <span class="fab fa-readme"></span> Reviews <span class="caret"></span>
                                    </a>
                                    <!-- Dropdown level 1 -->
                                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a asp-area="" asp-controller="Reviews" asp-action=""> All Reviews</a></li>
                                                <li><a asp-area="" asp-controller="Reviews" asp-action="Create"> Leave a Review</a></li>
                                                <li><a href="#">Reviews by Institution</a></li>
                                                <li><a href="#">Reviews by Degree</a></li>
                                                <li><a href="#">Reviews by Course</a></li>
                                                <li><a href="#">Reviews by Teacher</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!--<li><a href="#"><span class="fas fa-search"></span> Search </a></li> -->
                                <li><a href="#"><span class="fas fa-cog"></span> Settings</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-10 content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    My Dashboard
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <a class="twitter-share-button"
               href="https://twitter.com/intent/tweet">
                Tweet
            </a>
        </div>
    </div>
</body>
</html>
